In [5]:
import pandas as pd
import random

random.seed(42)

rows = []
colors = ["red", "pink", "white", "blue"]

for _ in range(1000):
    price = random.randint(100, 600)
    has_chocolate = random.randint(0, 1)
    has_card = random.randint(0, 1)
    color = random.choice(colors)
    delivery_time = random.randint(1, 5)

    liked = 0
    if has_chocolate and has_card and price < 400:
        liked = 1
    if color in ["red", "pink"] and delivery_time <= 2:
        liked = 1
    if random.random() < 0.1:  # шум
        liked = 1 - liked

    rows.append([
        price,
        has_chocolate,
        has_card,
        color,
        delivery_time,
        liked
    ])

df = pd.DataFrame(rows, columns=[
    "price",
    "has_chocolate",
    "has_card",
    "color",
    "delivery_time",
    "liked"
])

df.head()

   price  has_chocolate  has_card  color  delivery_time  liked
0    427              0         0  white              2      0
1    477              0         0   blue              1      1
2    211              0         0   pink              5      0
3    329              1         0   pink              4      0
4    179              0         1    red              1      1

In [8]:
df

     price  has_chocolate  has_card  color  delivery_time  liked
0      427              0         0  white              2      0
1      477              0         0   blue              1      1
2      211              0         0   pink              5      0
3      329              1         0   pink              4      0
4      179              0         1    red              1      1
..     ...            ...       ...    ...            ...    ...
995    563              1         1   blue              3      0
996    508              1         1   pink              1      1
997    405              1         1    red              4      0
998    393              0         1    red              3      0
999    164              0         1  white              2      0

[1000 rows x 6 columns]